USE [master]
GO
/****** Object:  Database [ERP_BH]    Script Date: 11/12/2014 6:03:30 PM ******/
CREATE DATABASE [ERP_BH] ON  PRIMARY 
( NAME = N'ERP_BH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ERP_BH.mdf' , SIZE = 22784KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ERP_BH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ERP_BH_log.LDF' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERP_BH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERP_BH]
GO
/****** Object:  Table [dbo].[Banhang]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banhang](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Banhang_id]  DEFAULT (newid()),
	[maqd] [nvarchar](255) NULL,
	[tench] [nvarchar](255) NULL,
	[makh] [uniqueidentifier] NULL,
	[tenkh] [nvarchar](255) NULL,
	[thang] [nvarchar](255) NULL,
	[quy] [nvarchar](255) NULL,
	[nam] [nvarchar](255) NULL,
 CONSTRAINT [PK_Banhang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BanhangTmp]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanhangTmp](
	[maqd] [nvarchar](255) NULL,
	[tench] [nvarchar](255) NULL,
	[makh] [nvarchar](255) NULL,
	[tenkh] [nvarchar](255) NULL,
	[thang] [nvarchar](255) NULL,
	[quy] [nvarchar](255) NULL,
	[nam] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cuahang]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuahang](
	[tench] [nvarchar](255) NULL,
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Cuahang_id]  DEFAULT (newid()),
 CONSTRAINT [PK_Cuahang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhsanhHanghoaGoc]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhsanhHanghoaGoc](
	[mahh] [nvarchar](50) NULL,
	[tenhh] [nvarchar](50) NULL,
	[chungloai] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimCuahang]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCuahang](
	[tench] [nvarchar](255) NULL,
	[id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DimCuahang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimHanghoa]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimHanghoa](
	[id] [uniqueidentifier] NOT NULL,
	[mahh] [nvarchar](255) NULL,
	[tenhh] [nvarchar](255) NULL,
	[chungloai] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimHanghoa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimKhachhang]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKhachhang](
	[id] [uniqueidentifier] NOT NULL,
	[makh] [nvarchar](255) NULL,
	[tenkh] [nvarchar](255) NULL,
	[phai] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimKhachhang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimKhuvuc]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKhuvuc](
	[id] [uniqueidentifier] NOT NULL,
	[makv] [nvarchar](255) NULL,
	[thanhpho] [nvarchar](255) NULL,
	[quocgia] [nvarchar](255) NULL,
	[vungmien] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimKhuvuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DimThoigian]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimThoigian](
	[thang] [int] NULL,
	[quy] [int] NULL,
	[nam] [int] NULL,
	[id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DimThoigian] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[saledetailid] [uniqueidentifier] NOT NULL,
	[saleid] [uniqueidentifier] NOT NULL,
	[mahh] [uniqueidentifier] NOT NULL,
	[makh] [uniqueidentifier] NOT NULL,
	[thoigianid] [uniqueidentifier] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [float] NULL,
	[thanhtien] [float] NULL,
	[makv] [uniqueidentifier] NULL,
	[mach] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FactSales] PRIMARY KEY CLUSTERED 
(
	[saledetailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hanghoa]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hanghoa](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Hanghoa_id]  DEFAULT (newid()),
	[mahh] [nvarchar](255) NULL,
	[tenhh] [nvarchar](255) NULL,
	[chungloai] [nvarchar](255) NULL,
	[ghichu] [nvarchar](255) NULL,
 CONSTRAINT [PK_Hanghoa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HanghoaTmp]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanghoaTmp](
	[tenhh] [nvarchar](255) NULL,
	[ghichu] [nvarchar](255) NULL,
	[mahh] [nvarchar](255) NULL,
	[chungloai] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Khachhang_id]  DEFAULT (newid()),
	[makh] [nvarchar](255) NULL,
	[tenkh] [nvarchar](255) NULL,
	[phai] [nvarchar](255) NULL,
	[makv] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachhangTmp]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachhangTmp](
	[makh] [nvarchar](255) NULL,
	[tenkh] [nvarchar](255) NULL,
	[phai] [nvarchar](255) NULL,
	[makv] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khuvuc]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khuvuc](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Khuvuc_id]  DEFAULT (newid()),
	[makv] [nvarchar](255) NULL,
	[thanhpho] [nvarchar](255) NULL,
	[quocgia] [nvarchar](255) NULL,
	[vungmien] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuvucTmp]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuvucTmp](
	[makv] [nvarchar](255) NULL,
	[quocgia] [nvarchar](255) NULL,
	[vungmien] [nvarchar](255) NULL,
	[thanhpho] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[mahh] [uniqueidentifier] NULL,
	[soluong] [nvarchar](255) NULL,
	[dongia] [nvarchar](255) NULL,
	[thanhtien] [nvarchar](255) NULL,
	[masale] [nvarchar](255) NULL,
	[saleid] [uniqueidentifier] NULL,
	[saledetailid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_SaleDetail_saledetailid]  DEFAULT (newid()),
 CONSTRAINT [PK_SaleDetail] PRIMARY KEY CLUSTERED 
(
	[saledetailid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SaleDetailTmp]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetailTmp](
	[mahh] [nvarchar](255) NULL,
	[makh] [nvarchar](255) NULL,
	[soluong] [nvarchar](255) NULL,
	[dongia] [nvarchar](255) NULL,
	[thanhtien] [nvarchar](255) NULL,
	[masale] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thoigian]    Script Date: 11/12/2014 6:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thoigian](
	[thang] [int] NULL,
	[quy] [int] NULL,
	[nam] [int] NULL,
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Thoigian_id]  DEFAULT (newid()),
 CONSTRAINT [PK_Thoigian] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Banhang] ([id], [maqd], [tench], [makh], [tenkh], [thang], [quy], [nam]) VALUES (N'7d41dd24-f93d-4915-af67-035ea5923cae', N'S0008', N'Rainbow Grocery Store', N'6dc8ceae-23a6-47e6-826d-eedd23ac3e54', N'Cus0121', N'11', N'4', N'2013')
INSERT [dbo].[Banhang] ([id], [maqd], [tench], [makh], [tenkh], [thang], [quy], [nam]) VALUES (N'f1123421-7f60-4981-b6a7-045ce8cfa09c', N'7', N'Cửa hàng Q.5', N'7820b262-b107-47df-8b45-e243b6caf4fd', N'Trịnh Thanh Sang', N'4', N'2', N'2013')
INSERT [dbo].[Banhang] ([id], [maqd], [tench], [makh], [tenkh], [thang], [quy], [nam]) VALUES (N'd0385d78-7c53-4c6c-902c-05aab4636626', N'51', N'Cửa hàng thực phẩm số 3', N'549d189d-f616-42ec-b92a-a4bcafeaa246', N'Lê Trọng Tín', N'12', N'4', N'2014')
INSERT [dbo].[BanhangTmp] ([maqd], [tench], [makh], [tenkh], [thang], [quy], [nam]) VALUES (N'S0011', N'Cửa hàng thực phẩm số 1', N'Cus0131', N'Cus0131', N'1', N'1', N'2014')
INSERT [dbo].[BanhangTmp] ([maqd], [tench], [makh], [tenkh], [thang], [quy], [nam]) VALUES (N'S0016', N'Cửa hàng thực phẩm số 2', N'Cus0131', N'Cus0131', N'7', N'3', N'2014')
INSERT [dbo].[BanhangTmp] ([maqd], [tench], [makh], [tenkh], [thang], [quy], [nam]) VALUES (N'S0012', N'Cửa hàng thực phẩm số 3', N'Cus0132', N'Cus0132', N'1', N'1', N'2014')
INSERT [dbo].[Cuahang] ([tench], [id]) VALUES (N'Royal Blue Grocery', N'5e591aac-764c-468f-a4eb-0ffc46173847')
INSERT [dbo].[Cuahang] ([tench], [id]) VALUES (N'Cửa hàng thực phẩm số 3', N'1d3bf0e2-67dc-4f1a-b9b2-1b573fd2531d')
INSERT [dbo].[Cuahang] ([tench], [id]) VALUES (N'Cửa hàng Q.10', N'aafd6d20-dc05-47ca-8377-812d0588e86d')
INSERT [dbo].[DanhsanhHanghoaGoc] ([mahh], [tenhh], [chungloai]) VALUES (N'HH001', N'Trà xanh O2', N'Nước giải khát')
INSERT [dbo].[DanhsanhHanghoaGoc] ([mahh], [tenhh], [chungloai]) VALUES (N'HH002', N'Coca cola', N'Nước giải khát')
INSERT [dbo].[DanhsanhHanghoaGoc] ([mahh], [tenhh], [chungloai]) VALUES (N'HH003', N'Bánh ChocoPie', N'Bánh kẹo')
INSERT [dbo].[DimCuahang] ([tench], [id]) VALUES (N'Royal Blue Grocery', N'5e591aac-764c-468f-a4eb-0ffc46173847')
INSERT [dbo].[DimCuahang] ([tench], [id]) VALUES (N'Cửa hàng thực phẩm số 3', N'1d3bf0e2-67dc-4f1a-b9b2-1b573fd2531d')
INSERT [dbo].[DimCuahang] ([tench], [id]) VALUES (N'Cửa hàng Q.10', N'aafd6d20-dc05-47ca-8377-812d0588e86d')
INSERT [dbo].[DimHanghoa] ([id], [mahh], [tenhh], [chungloai]) VALUES (N'95b7a8d7-febe-44c4-a4f8-0e418e970a94', N'0_Bánh Cosy', N'Bánh Cosy', N'0_Bánh kẹo')
INSERT [dbo].[DimHanghoa] ([id], [mahh], [tenhh], [chungloai]) VALUES (N'00fc5cf6-d0d1-4fc9-9416-1147951dd8c2', N'0_Bánh AFC', N'Bánh AFC', N'0_Bánh kẹo')
INSERT [dbo].[DimHanghoa] ([id], [mahh], [tenhh], [chungloai]) VALUES (N'425c690f-7eb2-496b-8a11-18ae6bb32ef0', N'0_Bánh Custa', N'Bánh Custa', N'0_Bánh kẹo')
INSERT [dbo].[DimKhachhang] ([id], [makh], [tenkh], [phai]) VALUES (N'a17ffef4-fa29-49d5-9729-070c5dfa1bae', N'KH010', N'Phạm Ngọc Huy', N'Nam')
INSERT [dbo].[DimKhachhang] ([id], [makh], [tenkh], [phai]) VALUES (N'77083872-4ff7-44e1-a36d-28c9ce50d792', N'Cus0124', N'Nguyễn Thanh Hằng', N'Nữ')
INSERT [dbo].[DimKhachhang] ([id], [makh], [tenkh], [phai]) VALUES (N'148e2e9a-5b8a-4af1-a9c0-394cb01bae73', N'KH006', N'Nguyễn Ngọc Quỳnh', N'Nữ')
INSERT [dbo].[DimKhuvuc] ([id], [makv], [thanhpho], [quocgia], [vungmien]) VALUES (N'2831e641-122d-43c1-a6f0-0d52f30915ab', N'KV10', N'Quảng Ngãi', N'Việt Nam', N'Miền Trung')
INSERT [dbo].[DimKhuvuc] ([id], [makv], [thanhpho], [quocgia], [vungmien]) VALUES (N'e94688cf-d636-43ab-a946-12674ff053a7', N'KV01', N'Tp. Hồ Chí Minh', N'Việt Nam', N'Miền Nam')
INSERT [dbo].[DimKhuvuc] ([id], [makv], [thanhpho], [quocgia], [vungmien]) VALUES (N'746eec20-6ce4-487e-95ef-16b32ef7fb7b', N'Bình DươngSouthern VietnamVietnam', N'Bình Dương', N'Việt Nam', N'Miền Nam')
INSERT [dbo].[DimThoigian] ([thang], [quy], [nam], [id]) VALUES (6, 2, 2014, N'8d3a1e2a-eac3-4a36-8912-016532c406dc')
INSERT [dbo].[DimThoigian] ([thang], [quy], [nam], [id]) VALUES (1, 1, 2013, N'038bb1cf-5098-4daa-99cf-016ef34eba70')
INSERT [dbo].[DimThoigian] ([thang], [quy], [nam], [id]) VALUES (10, 4, 2013, N'f0ae9d8f-c0dd-4b8a-8743-01a28aa17737')
GO
INSERT [dbo].[FactSales] ([saledetailid], [saleid], [mahh], [makh], [thoigianid], [soluong], [dongia], [thanhtien], [makv], [mach]) VALUES (N'cf35f987-205c-4e1b-b4eb-000f801ff5b1', N'ebbae92c-4bd7-464b-bc43-b27f9cb6abb6', N'323bef47-2082-4b0e-8e30-bab06ef02ee0', N'397cf326-8a40-478c-806f-f7f678a2818a', N'dc4ca625-b5da-4105-91e9-31797ce98a24', 3, 12500, 37500, N'232ae13d-0cbe-4840-a592-95110cd64772', N'ea651f74-e103-4689-baff-bbd6170d10a5')
INSERT [dbo].[FactSales] ([saledetailid], [saleid], [mahh], [makh], [thoigianid], [soluong], [dongia], [thanhtien], [makv], [mach]) VALUES (N'5949e0e7-682b-4414-8b76-001f8e3a8dbe', N'5081cc01-f809-45f6-9e93-566d60048594', N'415b713a-5445-4ef4-a8db-2c1b9387e207', N'7820b262-b107-47df-8b45-e243b6caf4fd', N'038bb1cf-5098-4daa-99cf-016ef34eba70', 3, 14500, 43500, N'e94688cf-d636-43ab-a946-12674ff053a7', N'506cbeeb-b3f7-42cf-8e8f-b3be5ee9bba5')
INSERT [dbo].[FactSales] ([saledetailid], [saleid], [mahh], [makh], [thoigianid], [soluong], [dongia], [thanhtien], [makv], [mach]) VALUES (N'08a882a6-5221-4bb5-9132-029aa32e2483', N'6e2aceb9-9010-42fc-9662-e98a1138d63d', N'cf20b98b-99cf-4eda-9674-2e7242db0bc1', N'7820b262-b107-47df-8b45-e243b6caf4fd', N'77eb6f46-e4d1-48ad-b1e1-047e2b08533d', 12, 8500, 102000, N'e94688cf-d636-43ab-a946-12674ff053a7', N'aafd6d20-dc05-47ca-8377-812d0588e86d')
GO
INSERT [dbo].[Hanghoa] ([id], [mahh], [tenhh], [chungloai], [ghichu]) VALUES (N'95b7a8d7-febe-44c4-a4f8-0e418e970a94', N'0_Bánh Cosy', N'Bánh Cosy', N'0_Bánh kẹo', N'Bánh Cosy khong co trong danh muc')
INSERT [dbo].[Hanghoa] ([id], [mahh], [tenhh], [chungloai], [ghichu]) VALUES (N'00fc5cf6-d0d1-4fc9-9416-1147951dd8c2', N'0_Bánh AFC', N'Bánh AFC', N'0_Bánh kẹo', N'Bánh AFC khong co trong danh muc')
INSERT [dbo].[Hanghoa] ([id], [mahh], [tenhh], [chungloai], [ghichu]) VALUES (N'425c690f-7eb2-496b-8a11-18ae6bb32ef0', N'0_Bánh Custa', N'Bánh Custa', N'0_Bánh kẹo', N'Bánh Custa khong co trong danh muc')
INSERT [dbo].[HanghoaTmp] ([tenhh], [ghichu], [mahh], [chungloai]) VALUES (N'Kẹo Alpenliebe', N'Kẹo Alpenliebe khong co trong danh muc', N'0_Kẹo Alpenliebe', N'0_Nước ngọt')
INSERT [dbo].[HanghoaTmp] ([tenhh], [ghichu], [mahh], [chungloai]) VALUES (N'Bánh Hura', N'Bánh Hura khong co trong danh muc', N'0_Bánh Hura', N'0_Bánh kẹo')
INSERT [dbo].[HanghoaTmp] ([tenhh], [ghichu], [mahh], [chungloai]) VALUES (N'Dầu ăn Tường An', N'Dầu ăn Tường An khong co trong danh muc', N'0_Dầu ăn Tường An', N'0_Dầu ăn')
GO
INSERT [dbo].[Khachhang] ([id], [makh], [tenkh], [phai], [makv]) VALUES (N'a17ffef4-fa29-49d5-9729-070c5dfa1bae', N'KH010', N'Phạm Ngọc Huy', N'Nam', N'2831e641-122d-43c1-a6f0-0d52f30915ab')
INSERT [dbo].[Khachhang] ([id], [makh], [tenkh], [phai], [makv]) VALUES (N'77083872-4ff7-44e1-a36d-28c9ce50d792', N'Cus0124', N'Nguyễn Thanh Hằng', N'Nữ', N'0215e1c3-0a71-443d-9968-e3856919a4e3')
INSERT [dbo].[Khachhang] ([id], [makh], [tenkh], [phai], [makv]) VALUES (N'148e2e9a-5b8a-4af1-a9c0-394cb01bae73', N'KH006', N'Nguyễn Ngọc Quỳnh', N'Nữ', N'4a0e0e82-82f7-4390-82bb-3680621d55d0')
INSERT [dbo].[KhachhangTmp] ([makh], [tenkh], [phai], [makv]) VALUES (N'KH001', N'Trịnh Thanh Sang', N'Nam', N'KV01')
INSERT [dbo].[KhachhangTmp] ([makh], [tenkh], [phai], [makv]) VALUES (N'KH002', N'Lê Anh Minh', N'Nam', N'KV02')
INSERT [dbo].[KhachhangTmp] ([makh], [tenkh], [phai], [makv]) VALUES (N'KH003', N'Phan Thanh Tú', N'Nam', N'KV03')
INSERT [dbo].[Khuvuc] ([id], [makv], [thanhpho], [quocgia], [vungmien]) VALUES (N'a5bddd27-4585-4355-8911-4cdaafc0839b', N'AustinTexasUSA', N'Austin', N'Hoa Kỳ', N'Texas')
INSERT [dbo].[Khuvuc] ([id], [makv], [thanhpho], [quocgia], [vungmien]) VALUES (N'746eec20-6ce4-487e-95ef-16b32ef7fb7b', N'Bình DươngSouthern VietnamVietnam', N'Bình Dương', N'Việt Nam', N'Miền Nam')
INSERT [dbo].[Khuvuc] ([id], [makv], [thanhpho], [quocgia], [vungmien]) VALUES (N'069d1e69-e44c-4c8d-95fc-f436444d9778', N'BostonNew JerseyUSA', N'Boston', N'Hoa Kỳ', N'New Jersey')
INSERT [dbo].[KhuvucTmp] ([makv], [quocgia], [vungmien], [thanhpho]) VALUES (N'Quảng NgãiMiddle VietnamVietnam', N'Việt Nam', N'Miền Trung', N'Quảng Ngãi')
INSERT [dbo].[KhuvucTmp] ([makv], [quocgia], [vungmien], [thanhpho]) VALUES (N'Bình DươngSouthern VietnamVietnam', N'Việt Nam', N'Miền Nam', N'Bình Dương')
INSERT [dbo].[KhuvucTmp] ([makv], [quocgia], [vungmien], [thanhpho]) VALUES (N'Hải PhòngNorthern VietnamVietnam', N'Việt Nam', N'Miền Bắc', N'Hải Phòng')
INSERT [dbo].[SaleDetail] ([mahh], [soluong], [dongia], [thanhtien], [masale], [saleid], [saledetailid]) VALUES (N'c2f8b1e5-fcd0-483a-8ff4-2687d671d3ce', N'2', N'19700', N'39400', N'35', N'424b3d53-772a-4749-b645-520529ea0d69', N'ee95ba9f-37bd-45a6-a7b9-00e9efb6b985')
INSERT [dbo].[SaleDetail] ([mahh], [soluong], [dongia], [thanhtien], [masale], [saleid], [saledetailid]) VALUES (N'fe5d2686-436f-4556-9e4d-1f2804d91206', N'10', N'16800', N'168000', N'S0017', N'b6324b98-c63d-4b85-88f6-69afc01c5bdf', N'92ec0d89-e15e-4a53-baa0-02f820c59578')
INSERT [dbo].[SaleDetail] ([mahh], [soluong], [dongia], [thanhtien], [masale], [saleid], [saledetailid]) VALUES (N'cf20b98b-99cf-4eda-9674-2e7242db0bc1', N'7', N'7500', N'52500', N'S0022', N'58431034-3555-4d1b-a36f-4b3e99f90b8d', N'9ede732d-067d-47e3-966e-03cca5af597b')
GO
INSERT [dbo].[SaleDetailTmp] ([mahh], [makh], [soluong], [dongia], [thanhtien], [masale]) VALUES (N'0_Cam ép Twister', N'{4EDB7574-A2E6-433C-AEAC-B9ADBF8FFFE2}', N'6', N'12000', N'72000', N'S0011')
INSERT [dbo].[SaleDetailTmp] ([mahh], [makh], [soluong], [dongia], [thanhtien], [masale]) VALUES (N'0_Bánh Hura', N'{4EDB7574-A2E6-433C-AEAC-B9ADBF8FFFE2}', N'15', N'10500', N'157500', N'S0011')
INSERT [dbo].[SaleDetailTmp] ([mahh], [makh], [soluong], [dongia], [thanhtien], [masale]) VALUES (N'0_Coca cola', N'{592F9BC9-756C-4BD1-B7D8-90FB59909920}', N'10', N'8500', N'85000', N'S0012')
GO
INSERT [dbo].[Thoigian] ([thang], [quy], [nam], [id]) VALUES (6, 2, 2014, N'8d3a1e2a-eac3-4a36-8912-016532c406dc')
INSERT [dbo].[Thoigian] ([thang], [quy], [nam], [id]) VALUES (1, 1, 2013, N'038bb1cf-5098-4daa-99cf-016ef34eba70')
INSERT [dbo].[Thoigian] ([thang], [quy], [nam], [id]) VALUES (10, 4, 2013, N'f0ae9d8f-c0dd-4b8a-8743-01a28aa17737')
GO
USE [master]
GO
